---
import Home from "../layouts/Home.astro";
import Intro from "../layouts/Intro.astro";
import DoubleTextBlue from "../layouts/DoubleTextBlue.astro";
import NavBar from "../components/NavBar.svelte";
import ButtonLayout from "../layouts/ButtonLayout.astro";
import EtapasDesarrollo from "../components/EtapasDesarrollo.astro";
import Quote from "../layouts/Quote.astro";
import RelacionesCard from "../components/RelacionesCard.astro";
import Huella from "../components/Huella.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Proyecto experimental de tipografía  realizado por Jaime González como TFG de Diseño Gráfico en la Escuela Superior de Diseño de Madrid"
    />
    <title>Conexiones Humanas | Nexus</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <header class="wrap z-1">
      <NavBar nav="/conexionhumana" />
    </header>

    <main class="scroller main w-[full]">
      <section class="sticky">
        <Home>
          <h1 class="text-7xl" slot="title">
            Conexiones <br />
            <span class="highlight_big text-[90px]">humanas</span>
          </h1>
          <Huella slot="huella" />
        </Home>

        <Quote>
          <h4 slot="quote" class="max-w-[1440px] text-center text-pretty">
            La <span class="highlight_small text-[40px] tracking-tight"
              >conexión</span
            > profunda no se limita a gestos o miradas. Su origen se encuentra en
            la <span class="highlight_small text-[40px] tracking-tight"
              >interacción</span
            > y el trato. Se manifiesta principalmente a través de la palabra <span
              class="highlight_small text-[40px] tracking-tight"
              >"compartir"</span
            >
          </h4>
        </Quote>

        <section>
          <Intro>
            <h1 slot="title" class="text-9xl w-full font-semibold">
              La <span class="highlight_big text-[144px]">conexión</span> humana
            </h1>
            <article slot="text" class="flex flex-col gap-5">
              <h3 class="max-w-[944px]">
                Definida como la sensación de <span
                  class="highlight_small text-[52px]">cercanía</span
                > y pertenencia experimentada al establecer relaciones de apoyo con
                nuestro entorno
              </h3>
              <p class="text-[28px] max-w-[680px] leading-8">
                Se materializa cuando dos o más individuos interactúan,
                sintiéndose cada uno valorado, reconocido y escuchado
              </p>
            </article>
          </Intro>
        </section>

        <section
          class="bg-white px-[120px] py-20 flex flex-col gap-20 items-center"
        >
          <div class="wrap flex flex-col gap-20">
            <h3 class="max-w-[730px]">
              En el <span class="highlight_small text-[52px]">complejo</span> análisis
              de las relaciones humanas, resulta esencial dividirlas en dos categorías
              fundamentales
            </h3>
            <div class="wrap flex gap-10">
              <article class="flex flex-col gap-4">
                <p class="text-pretty max-w-[400px] text-2xl">
                  Una distinción propuesta por VanLear, Koerner y Allen en 2006.
                </p>
                <p class="text-pretty max-w-[400px] text-2xl">
                  Esta clasificación ofrece un marco para examinar la diversidad
                  de las conexiones humanas.
                </p>
              </article>
              <div class="cards flex gap-4">
                <RelacionesCard
                  title="Relaciones personales"
                  text="Las relaciones personales involucran una cercanía e interdependencia significativas, como aquellas con amigos cercanos, parejas o familiares,"
                >
                  <img
                    slot="picture"
                    src="/vector_7.svg"
                    alt="Relaciones personales"
                    class="h-[150px]"
                  />
                </RelacionesCard>
                <RelacionesCard
                  title="Relaciones sociales"
                  text="Las relaciones sociales, en contraste, satisfacen ocasionalmente nuestras necesidades y carecen de la misma proximidad e interdependencia."
                >
                  <img
                    slot="picture"
                    src="/vector_8.svg"
                    alt="Relaciones sociales"
                    class="h-[150px]"
                  />
                </RelacionesCard>
              </div>
            </div>
          </div>
        </section>

        <section>
          <DoubleTextBlue>
            <img slot="picture"  src="/Vector.svg" alt="Formación y desgaste de las relaciones" />
            <h3
              slot="top_text"
              class="text-white max-w-[840px] uppercase text-right"
            >
              El proceso de
              <span class="highlight_small_white text-[52px]">formación</span>
              y
              <span class="highlight_small_white text-[52px]">desgaste</span>de
              las relaciones se define a través de diez <span
                class="highlight_small_white text-[52px]">etapas</span
              > establecidas
            </h3>
          </DoubleTextBlue>
        </section>

        <section>
          <EtapasDesarrollo />
        </section>

        <section class="bg-white px-[120px] py-40 flex flex-col gap-10">
          <h3 class="max-w-[1047px]">
            Aunque estas <span class="highlight_small text-[52px]">etapas</span>
            no siempre se experimentan de manera lineal, y algunas relaciones pueden
            no atravesarlas todas, el modelo proporciona una <span
              class="highlight_small text-[52px]">estructura</span
            > para comprender la dinámica relacional
          </h3>
          <h4 class="max-w-[1047px]">
            Es crucial reconocer que el movimiento consciente entre estas etapas
            y la unión o separación no poseen una connotación inherentemente
            buena o mala
          </h4>
        </section>

        <section>
          <ButtonLayout
            button_text="Relaciones interpersonales"
            route="relacionesinterpersonales"
          />
        </section>
      </section>
    </main>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,800&display=swap");

  @font-face {
      font-family: "Connect";
      src: url("/Connect.ttf")
        format("truetype-variations");
    }
    @font-face {
      font-family: "Pixelify";
      src: url("/PixelifySans-Regular.ttf");
    }
    @font-face {
      font-family: "Pixelify";
      src: url("/PixelifySans-SemiBold.ttf");
    }

  :root {
    --weightH1: 1000;
    --weightH2: 100;
    --nexusBlue: #1945df;
    font-family: "Raleway";
    scroll-behavior: smooth;
  }

    /*.scroller {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-padding: 80px;
      scroll-behavior: smooth;
    }

    .scroller section {
      scroll-snap-align: start;
    }*/
  .slider {
    scrollbar-color: var(--nexusBlue);
  }
  h1 {
    font-size: 128px;
    line-height: 110px;
  }
  h2 {
    font-size: 64px;
    line-height: 72px;
  }
  h3 {
    font-size: 48px;
    line-height: 56px;
  }
  h4 {
    font-size: 36px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
  }
  .animated {
    margin: 0;
    font-variation-settings:
      "wght" var(--weightH1),
      "wdth" 125;
    font-family: "Connect";
    transition: 1s;
  }
  .animated:hover {
    font-variation-settings:
      "wght" var(--weightH2),
      "wdth" 125;
    transition: 1s;
  }
  .highlight_small {
    color: var(--nexusBlue);
    font-family: "Pixelify";
    letter-spacing: -0.025rem;
  }
  .highlight_big {
    color: var(--nexusBlue);
    font-family: "Pixelify";
    letter-spacing: -0.5rem;
  }
  .highlight_small_white {
    color: white;
    font-family: "Pixelify";
    letter-spacing: -0.025rem;
  }
  .highlight_big_white {
    color: white;
    font-family: "Pixelify";
    letter-spacing: -0.5rem;
  }
</style>
