---
import Home from "../layouts/Home.astro";
import Intro from "../layouts/Intro.astro";
import NavBar from "../components/NavBar.svelte";
import ButtonLayout from "../layouts/ButtonLayout.astro";
import PreFooter from "../layouts/PreFooter.astro";
import Quote from "../layouts/Quote.astro";
import DescripcionFases from "../layouts/DescripcionFases.svelte";
import Huella from "../components/Huella.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¿Qué es Nexus? | Nexus</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <header class="wrap z-1">
      <NavBar nav="/nexus" />
    </header>

    <main class="scroller">
      <section>
        <Home>
          <h2 class="text-[80px]" slot="title">
            ¿Qué es <br />
            <span class="highlight_big text-[100px] leading-[120px]">Nexus</span
            > ?
          </h2>
          <Huella slot="huella" />
        </Home>
      </section>

      <section>
        <Quote>
          <quote slot="quote" class="max-w-[1440px] text-center text-pretty">
            <h4>
              Nexus es un proyecto que, basado en la teoría de <span
                class="highlight_small text-[40px] tracking-tight"
                >relaciones interpersonales</span
              > de Lewin, relaciona el modelo <span
                class="highlight_small text-[40px] tracking-tight"
                >proxémixo</span
              > de Hall con las diferentes <span
                class="highlight_small text-[40px] tracking-tight">fases</span
              > de una relación
            </h4>
          </quote>
        </Quote>

        <section>
          <Intro>
            <h1 slot="title" class="w-full font-semibold text-pretty">
              Nace de una tipografía
              <span class="highlight_big text-[144px] text-pretty"
                >experimental</span
              >
            </h1>
            <h3 slot="text" class="max-w-[944px] text-pretty">
              Las letras de la <span class="highlight_small text-[52px]"
                >tipografía</span
              > se asocian a las diez <span class="highlight_small text-[52px]"
                >etapas</span
              > de las relaciones. Cada etapa puede tener tres interpretaciones:
              <span class="highlight_small text-[52px]">positiva</span>, <span
                class="highlight_small text-[52px]">negativa</span
              > o <span class="highlight_small text-[52px]">neutra</span>,
              asociando cada una a cada glifo de la tipografía
            </h3>
          </Intro>
        </section>

        <section>
          <DescripcionFases layout={"horizontal"} client:load />
        </section>

        <section>
          <PreFooter>
            <div slot="text" class="text_wrap flex flex-col gap-10">
              <h4 class="max-w-[624px] leading-10">
                Cada etapa deja marca en una relación.
              </h4>
              <h4 class="max-w-[624px] leading-10">
                Nexus permite crear la huella de tus relaciones personales en
                función de las etapas vividas y de cómo fue la experiencia.
              </h4>
            </div>
          </PreFooter>
        </section>

        <section>
          <ButtonLayout button_text="Crea tu huella" route="creatuhuella" />
        </section>
      </section>
    </main>
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,800&display=swap");

    @font-face {
      font-family: "Connect";
      src: url("/Connect.ttf") format("truetype-variations");
    }
    @font-face {
      font-family: "Pixelify";
      src: url("/PixelifySans-Regular.ttf");
    }
    @font-face {
      font-family: "Pixelify";
      src: url("/PixelifySans-SemiBold.ttf");
    }

    :root {
      --weightH1: 1000;
      --weightH2: 100;
      --nexusBlue: #1945df;
      font-family: "Raleway";
    }

    /*.scroller {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-padding: 80px;
      scroll-behavior: smooth;
    }

    .scroller section {
      scroll-snap-align: start;
    }*/
    h1 {
      font-size: 128px;
      line-height: 110px;
    }
    h2 {
      font-size: 64px;
      line-height: 72px;
    }
    h3 {
      font-size: 48px;
      line-height: 56px;
    }
    h4 {
      font-size: 36px;
      line-height: 40px;
    }
    p {
      font-size: 18px;
    }
    .animated {
      margin: 0;
      font-variation-settings:
        "wght" var(--weightH1),
        "wdth" 125;
      font-family: "Connect";
      transition: 1s;
    }
    .animated:hover {
      font-variation-settings:
        "wght" var(--weightH2),
        "wdth" 125;
      transition: 1s;
    }
    .highlight_small {
      color: var(--nexusBlue);
      font-family: "Pixelify";
      letter-spacing: -0.025rem;
    }
    .highlight_big {
      color: var(--nexusBlue);
      font-family: "Pixelify";
      letter-spacing: -0.5rem;
    }
    .highlight_small_white {
      color: white;
      font-family: "Pixelify";
      letter-spacing: -0.025rem;
    }
    .highlight_big_white {
      color: white;
      font-family: "Pixelify";
      letter-spacing: -0.5rem;
    }
  </style>
  x
</html>
