---
import NavBar from "../components/NavBar.svelte";
import Home from "../layouts/Home.astro";
import Quote from "../layouts/Quote.astro";
import DoubleTextBlue from "../layouts/DoubleTextBlue.astro";
import PreFooter from "../layouts/PreFooter.astro";
import ButtonLayout from "../layouts/ButtonLayout.astro";
import Huella from "../components/Huella.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relaciones Interpersonales | Nexus</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <header class="wrap z-1">
      <NavBar nav="/relacionesinterpersonales" />
    </header>

    <main class="scroller">
      <section>
        <Home>
          <h2 class="text-[80px]" slot="title">
            Teoría de las
            <br />
            <span class="highlight_big text-[100px]"
              >Relaciones <br />
              Interpersonales</span
            >
          </h2>
          <Huella slot="huella" />
        </Home>

        <Quote author="Kurt Lewin">
          <quote slot="quote" class="max-w-[1440px] text-center text-pretty">
            <h4>
              El comportamiento humano se concibe como el resultado de un campo
              o “<span class="highlight_small text-[40px] tracking-tight"
                >espacio vital</span
              > , compuesto por hechos coexistentes donde el <span
                class="highlight_small text-[40px] tracking-tight">cambio</span
              > en una parte afecta al <span
                class="highlight_small text-[40px] tracking-tight"
                >conjunto</span
              >
            </h4>
          </quote>
        </Quote>

        <section>
          <DoubleTextBlue>
            <img slot="picture" src="./public/Vector.svg" alt="" />
            <h3
              slot="top_text"
              class="text-white max-w-[840px] uppercase text-right mb-20"
            >
              Podemos entender ese
              <span class="highlight_small_white text-[52px]"
                >"espacio vital"</span
              >
              como el cojunto de relaciones personales de un individuo
            </h3>
          </DoubleTextBlue>
        </section>

        <section>
          <PreFooter>
            <div slot="text" class="text_wrap flex flex-col gap-10">
              <h4 class="max-w-[624px] leading-10">
                El <span class="highlight_small text-[40px]">individuo</span> y su
                <span class="highlight_small text-[40px]">"espacio vital"</span>
                no son entidades separadas, sino que constantemente <span
                  class="highlight_small text-[40px]">interactúan</span
                > y se modifican mutuamente en tiempo real, es decir, son una misma
                entidad.
              </h4>
            </div>
          </PreFooter>
        </section>

        <section>
          <ButtonLayout button_text="Proxémica" route="proxemica" />
        </section>
      </section>
    </main>

    <style is:global>
      @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,800&display=swap");

      @font-face {
        font-family: "Connect";
        src: url("/Connect.ttf") format("truetype-variations");
      }
      @font-face {
        font-family: "Pixelify";
        src: url("/PixelifySans-Regular.ttf");
      }
      @font-face {
        font-family: "Pixelify";
        src: url("/PixelifySans-SemiBold.ttf");
      }

      :root {
        --weightH1: 1000;
        --weightH2: 100;
        --nexusBlue: #1945df;
        font-family: "Raleway";
      }

      /*.scroller {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-padding: 80px;
      scroll-behavior: smooth;
    }

    .scroller section {
      scroll-snap-align: start;
    }*/
      h1 {
        font-size: 128px;
        line-height: 110px;
      }
      h2 {
        font-size: 64px;
        line-height: 72px;
      }
      h3 {
        font-size: 48px;
        line-height: 56px;
      }
      h4 {
        font-size: 36px;
        line-height: 40px;
      }
      p {
        font-size: 18px;
      }
      .animated {
        margin: 0;
        font-variation-settings:
          "wght" var(--weightH1),
          "wdth" 125;
        font-family: "Connect";
        transition: 1s;
      }
      .animated:hover {
        font-variation-settings:
          "wght" var(--weightH2),
          "wdth" 125;
        transition: 1s;
      }
      .highlight_small {
        color: var(--nexusBlue);
        font-family: "Pixelify";
        letter-spacing: -0.025rem;
      }
      .highlight_big {
        color: var(--nexusBlue);
        font-family: "Pixelify";
        letter-spacing: -0.5rem;
        line-height: 82px;
      }
      .highlight_small_white {
        color: white;
        font-family: "Pixelify";
        letter-spacing: -0.025rem;
      }
      .highlight_big_white {
        color: white;
        font-family: "Pixelify";
        letter-spacing: -0.5rem;
      }
    </style>
  </body>
</html>
