---
const { title = "", img = "", text = "" } = Astro.props;
---

<section class="card flex flex-col gap-10 w-[342px]">
  <picture>
    <img src=`./public/${img}` alt="" />
  </picture>
  <article class="text_wrap flex flex-col gap-4">
    <h5 class="highlight_small text-[24px]">{title}</h5>
    <p>
      {text}
    </p>
  </article>
</section>
