---
const { title, text } = Astro.props;
---

<section
  class="card bg-[--nexusBlue] size-[410px] flex flex-col items-center justify-center gap-8 p-8"
>
  <figure>
    <slot name="picture" />
  </figure>
  <article class="text_wrap">
    <h5 class="highlight_small_white text-[32px]">{title}</h5>
    <p class="text-[18px] text-white">
      {text}
    </p>
  </article>
</section>
