---

---


  <section class="main bg-[--nexusBlue] px-[120px] py-20 h-auto flex flex-col justify-end">
    <article class="wrap w-full flex justify-end">
      <h2 class="animated text-[500px] leading-[400px] text-white">h</h2>
    </article>
      <slot/>
  </section>

