---
---


  <section class="pb-40 h-auto pt-[160px] mb-[120px]">
    <article class="pl-[80px] uppercase">
        <slot name="title"/>
    </article>
    <article class="flex w-full items-end justify-end pr-[300px]">
        <slot name="huella"/>
    </article>
  </section>


