---

---

<section
  class="main bg-white px-[120px] pt-60 pb-40 flex flex-col gap-20 relative justify-between"
>
  <picture>
    <slot name="picture" />
  </picture>
  <slot name="title" />
  <article class="wrap flex w-full">
    <slot name="text" />
  </article>
</section>
