---

---

<section
  class="w-full bg-white flex justify-between items-center px-[120px] py-60"
>
  <div class="huella pl-20">
    <h2
      class="animated text-[--nexusBlue] text-[300px] leading-[120px] tracking-[-60px]"
    >
      af<br />fg
    </h2>
  </div>
  <slot name="text"/>
</section>
